#map { height: 93vh; width: 98%;
margin-top: 5vh;
margin-left: 1vw;
margin-right: 1vw;
margin-bottom: 7vh;
 }

p {
font-size: 13px;
}

h1 {
  font-family: 'Belanosima', sans-serif;    
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: #f2f2f2;

}

a {
color: #ffb66f;
text-decoration: none;
}

input[type=range] {
  position: absolute;
  z-index: 1000;
  margin-top: 30px;
  height: 5px;
  width: 7%;
  box-shadow: 0px 0px 0px #000000;
  cursor: pointer;
  right: 7vw;
}


 body {
   margin: 0;
   overflow: scroll;
   height: 100vh;
   font-family: 'Open Sans',sans-serif;
   font-size: 11px;
   color: #f2f2f2;
   background-color: #222222;

  }

footer {
  padding: 3vh;
}

  footer p {
    font-size: 11px;
    text-align: center;
    color: #848484;

  }

  .container h1 {
    margin-top: 5vh;
    margin-bottom: 1.5vh;

  }

  .container  p, li {
    margin-left: 25vw;
    margin-right: 25vw;
    font-size: 13px;
  
   }

  .header {
    width: 100vw;
    height: 100vh;
    background-image: url('png/fungiheader.png');
    background-position: center;
    background-size: cover;
    margin: 0;
  }
  
  .header h1 {
    position: relative;
    font-family: 'Belanosima', sans-serif;    
    font-weight: 400;
    font-size: 56px;
    text-align: center;
    top: 50vh;
    margin: 0;
  
  }

 .topbar {
  display: block;
  top: 0;
  width: 100vw;
  height: 50px;
  color: rgb(0, 0, 0);
  background-image: url("./svg/mariomushroom.svg");
  background-repeat: repeat-x;
  z-index: 1;
  /* position: fixed; */
 }

 .topbar h1{
  text-align: left;
  position: fixed;
  z-index: 2000;
  width: fit-content;
  background-color: #ffffff;
  margin: 0;
  padding: 0.8vh 1vw;
  font-family: 'VT323', monospace;
  font-size: 36px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0px rgb(199, 153, 153); /* offset-x | offset-y | blur-radius | color */

 }

 .container {
    height: fit-content;
    width: 100vw;
    display: block;
    background-color: #222222;
    margin-bottom: 7vh;
 }

 /* flex box container for d3 graphs */
 #d3_items {
  display: flex;
  height: 90vh;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  padding-top: 1vh;
  padding-bottom: 5vh;
  gap: 10px 20px;
  justify-content: space-evenly;
  align-items: center;

 }

 #d3_items p{
  margin-left: 5vw;
  margin-right: 3vw;


 }

 #d3_hist, #d3_scatter, #d3_plot {
  width: 30%;
  /* background-color: rgba(0, 0, 0, 0.495); */
  /* border: solid 1px #f2f2f23d; */
 }


 /* d3 text style */
 text {
  fill:#f2f2f2;
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;
 }

 #legendTitle {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #f2f2f2;
 }

 .leaflet-control-layers {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  color: #bdbdbd;
  background: #333333f3;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
}

.leaflet-control-layers-list {
margin: 10px;

}

.leaflet-popup-content-wrapper , .leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.85);
}

.leaflet-popup-content {
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;  
}

.leaflet-popup-content p {
  margin-left: 0;
  margin-right: 0;
}

.leaflet-control-scale {
  bottom: 40px;
}

.hexbin-hexagon {
	stroke: #000;
	stroke-width: .5px;
  fill-opacity: 0.6;
}

.marker-cluster-color {
  background-color: rgba(44, 127, 184, 0.6);

}

.marker-cluster-color div {
  background-color: rgba(44, 127, 184, 0.6);
}

.marker-cluster div {
font-family: 'Open Sans',sans-serif;
font-size: 10px;
font-weight: 700;

}

.sliderDiv{
  position: absolute;
  left: 5vw;
  top: 5vh;
  z-index: 2000;
  bottom: 5vh;
  width: 19vw;
  height: 8%;
  margin-top: -5vh;
  margin-right: 2vw;
  font-size: 12px;

}

.sliderDiv p {
  font-family: 'Open Sans',sans-serif;
  margin-left: 0;
  margin-right: 0;
}

input.sliderValue{
  border:0;
  color:#4E91BE;
  background-color: transparent;
  font-weight: 700;
  font-family: 'Open Sans',sans-serif;

}

@media screen and (max-width: 850px) {
  #d3_items {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 1;
    margin-top: 2vh;
    height: fit-content;
    column-gap: 5vh;

  }

  #d3_hist, #d3_scatter, #d3_plot {
    width: 100%;

   }

   .container  p, li {
    margin-left: 5vw;
    margin-right: 5vw;
  
   }

   .sliderDiv {
    position: absolute;
    top: 90%;
    width: 60vw;
    left: 30vw;
   }

   .maplibregl-ctrl-group button {
    display: none;
   }

   
}