#map { height: 98vh; width: 100%;
margin: none;
 }

 body {
   margin: 0;
   overflow: scroll;
   height: 100vh;
 }

 /* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10px;
 } */
